
body {
    background-color: white;
    color: grey;
}

header, main, nav, footer {
    text-align: center;
}

h1 {
    font-family: "Courier New";
    font-size: 4em;
    margin-bottom: 0px;
}

.resourceLink {
    color: blue;
}

.tutorial-content {
    display: block;
    width: 800px;
}
.informative-blurb {
    color: black;
    text-align: left;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: grey;
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size:2em;
    transition:.9s;
}





footer {
    clear: both;
}

#footerText {
    font-size: small;
    color: blue;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}








iframe {
    margin: 0px auto;
    display: block;
}