
body {
    background-color: white;
    color: grey;
}

header, main, nav, footer {
    text-align: center;
}

h1 {
    font-family: "Courier New";
    font-size: 4em;
    margin-bottom: 0px;
}

.resource-link {
    color: pink;
}

.tutorial-content {
    display: block;
    width: 800px;
    margin: auto;
}
.tutorial-step {
    color: black;
    text-align: left;
}

.tutorial-paragraph {
    text-indent: 50px;
}

.code-block {
    background-color: #eee;
    text-align: left;
    display: block;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: grey;
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size:2em;
    transition:.9s;
}





footer {
    clear: both;
}

#footerText {
    font-size: small;
    color: blue;
}

